<div class="dashboard">
  <!-- Header -->
  <header class="dashboard-header">
    <div class="header-content">
      <img class="logo" src="assets/logo.png" alt="Logo">
      <h1 class="app-name">Arboris</h1>
    </div>
  </header>

  <!-- Contenu principal -->
  <div class="dashboard-main">
    <!-- Colonne de gauche : Arborescence -->
    <aside class="sidebar-left" [ngClass]="{'left-pane-close': isLeftPaneClosed }">
      <button mat-icon-button class="left-close-button" (click)="toggleLeftPane()"><mat-icon>{{isLeftPaneClosed ? 'chevron_left' : 'chevron_right' }}</mat-icon></button>
      <button mat-raised-button color="primary" (click)="addFolder(null)">
        <mat-icon [style.color]="'#ffbe7b'">folder</mat-icon><span style="margin-left: 10px;">Ajouter un dossier racine</span></button>
      <!-- Champ de filtre -->
      <mat-form-field appearance="fill" class="filter-field full-width" style="margin-top: 10px;;">
        <mat-label>Filtrer</mat-label>
        <input matInput [(ngModel)]="filterText" (ngModelChange)="applyFilter()" placeholder="Rechercher...">
      </mat-form-field>
      <!-- Vous pouvez conserver votre template récursif ici -->
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: filteredTreeData, parent: null }"></ng-container>
    </aside>

    <!-- Colonne centrale : Zone d'édition -->
    <main class="content-center">
      <app-editor #editor></app-editor>
    </main>

    <!-- Colonne de droite : Post-it -->
    <aside class="sidebar-right" [ngClass]="{'right-pane-close': isRightPaneClosed }">
      <button mat-icon-button class="right-close-button" (click)="toggleRightPane()"><mat-icon>{{isRightPaneClosed ? 'chevron_left' : 'chevron_right' }}</mat-icon></button>
      <app-post-it></app-post-it>
    </aside>
  </div>
</div>

<ng-template #recursiveList let-nodes let-parent="parent">
  <ul class="tree-list" [style.padding-left]="parent ? null : 0">
    <li *ngFor="let node of nodes">
      <div class="node-content">
        <div class="node-label" style="display: flex; align-items: center;">
          <button *ngIf="node.type==='folder'" mat-icon-button (click)="toggleExpand(node)" matTooltip="Déplier">
            <mat-icon [style.opacity]="!node.children || node.children.length === 0 ? '0.5' : '1'">{{ node.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
          </button>
          <ng-container *ngIf="node.type==='document'">
            &nbsp;&nbsp;&nbsp;&nbsp;
            <mat-icon  [style.color]="'#65a360'">description</mat-icon>
          </ng-container>
          <span [style.color]="node.color"
          style="margin-left: 5px; cursor: pointer; white-space: nowrap;"
          (dblclick)="node.type==='folder' ? openEditFolderDialog(node) : openEditDocumentDialog(node); $event.stopPropagation()"
          matTooltip="Déplier / Modifier (double clic)">{{ node.label }}</span>
        </div>
        <div class="node-actions" style="display: flex; align-items: center;">
          <!-- Boutons pour folder uniquement -->
          <ng-container *ngIf="node.type==='folder'">
            <button mat-icon-button (click)="addFolder(node)" matTooltip="Ajouter sous-dossier">
              <mat-icon [style.color]="'#ffbe7b'">create_new_folder</mat-icon>
            </button>
            <button mat-icon-button (click)="addDocument(node)" matTooltip="Ajouter document">
              <mat-icon [style.color]="'#A8CAA5'">note_add</mat-icon>
            </button>
          </ng-container>
          <!-- Bouton pour insérer le document dans l'éditeur (pour documents uniquement) -->
          <button *ngIf="node.type==='document'" mat-icon-button (click)="addDocumentToEditor(node)" matTooltip="Ajouter dans l'éditeur">
            <mat-icon [style.color]="'#b581cc'">input</mat-icon>
          </button>
          <!-- Bouton pour tous types -->
          <button mat-icon-button (click)="openMoveDialog(node)" matTooltip="Déplacer">
            <mat-icon [style.color]="'#92ccd4'">drive_file_move</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteElement(node)" matTooltip="Supprimer">
            <mat-icon [style.color]="'#E97272'">delete</mat-icon>
          </button>
        </div>
      </div>
      <!-- Rendu récursif pour les folders -->
      <div *ngIf="node.type==='folder' && node.children && node.children.length && node.expanded" [@toggleChildren]>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: node.children, parent: node }"></ng-container>
      </div>
    </li>
  </ul>
</ng-template>