<div class="postit-container">
    <div class="postit-header">
      <button mat-raised-button color="primary" (click)="addPostIt()" style="align-self: flex-end;">
        Ajouter un post-it
      </button>
      <mat-form-field appearance="fill" class="filter-field full-width">
        <mat-label>Filtrer les post-it</mat-label>
        <input matInput [formControl]="filterControl" placeholder="Recherche...">
      </mat-form-field>
    </div>
    <mat-accordion multi style="flex: 1; padding: 10px;">
      <mat-expansion-panel *ngFor="let post of filteredPostIts">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div style="display: flex; align-items: center;">
              <div style="display: flex; align-items: center;">
                <button mat-icon-button (click)="deletePostIt(post); $event.stopPropagation()" matTooltip="Supprimer">
                  <mat-icon [style.color]="'#E97272'">delete</mat-icon>
                </button>
                <button mat-icon-button (click)="editPostIt(post); $event.stopPropagation()" matTooltip="Modifier">
                  <mat-icon [style.color]="'#A8CAA5'">edit</mat-icon>
                </button>
              </div>
              <span style="white-space: nowrap; color: #a1a1a1; margin-left: 10px;">{{ post.title }}</span>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="postit-content">
          {{ post.text }}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>