<h1 mat-dialog-title>Ajouter un document</h1>
<div mat-dialog-content class="dialog-content">
  <form [formGroup]="documentForm" (ngSubmit)="onSubmit()" class="document-form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Titre</mat-label>
      <input matInput formControlName="label" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Tags (séparés par des virgules)</mat-label>
      <input matInput formControlName="tags">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Contenu</mat-label>
      <textarea matInput formControlName="content" required></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Annuler</button>
  <button mat-button color="primary" [disabled]="documentForm.invalid" (click)="onSubmit()">Ajouter</button>
</div>
